# Database
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=g-hub

# Backend
NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://admin:admin@localhost:5432/g-hub
JWT_SECRET=change-this-in-prod
JWT_EXPIRES_IN=604800
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_NAME=G-HUB Admin
SEED_ADMIN_PASSWORD=admin

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
