--
-- PostgreSQL database dump
--

\restrict mKbdpKiDlrT0ceIMU3eq573UYgRK66phef5wl05n6vVEFdO0qOMMDlPPiJ6UGex

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg13+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Agent; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Agent" (
    id text NOT NULL,
    "agentCode" text NOT NULL,
    "codeCenter" text DEFAULT ''::text NOT NULL,
    name text DEFAULT ''::text NOT NULL,
    address text DEFAULT ''::text NOT NULL,
    nation text DEFAULT ''::text NOT NULL,
    phone text DEFAULT ''::text NOT NULL,
    fax text DEFAULT ''::text NOT NULL,
    "contactPerson" text DEFAULT ''::text NOT NULL,
    marketing text DEFAULT ''::text NOT NULL,
    "agentHO" text DEFAULT ''::text NOT NULL,
    "typeCenter" text DEFAULT ''::text NOT NULL,
    "agentType" text DEFAULT 'AGENT'::text NOT NULL,
    "typeGroup" text DEFAULT ''::text NOT NULL,
    "navCode" text DEFAULT ''::text NOT NULL,
    email text DEFAULT ''::text NOT NULL,
    "taxId" text DEFAULT ''::text NOT NULL,
    branch text DEFAULT ''::text NOT NULL,
    "bankName" text DEFAULT ''::text NOT NULL,
    "bankBranch" text DEFAULT ''::text NOT NULL,
    "bankAccount" text DEFAULT ''::text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Agent" OWNER TO admin;

--
-- Name: AgentAlias; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."AgentAlias" (
    id text NOT NULL,
    "agentId" text NOT NULL,
    pattern text NOT NULL,
    "matchType" text DEFAULT 'contains'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AgentAlias" OWNER TO admin;

--
-- Name: AgentMatching; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."AgentMatching" (
    id text NOT NULL,
    "agentCodeRef" text NOT NULL,
    "agentNameRef" text DEFAULT ''::text NOT NULL,
    "agentId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AgentMatching" OWNER TO admin;

--
-- Name: App; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."App" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."App" OWNER TO admin;

--
-- Name: BonusCard; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."BonusCard" (
    id text NOT NULL,
    "workDate" timestamp(3) without time zone NOT NULL,
    bonus text NOT NULL,
    "bonusName" text NOT NULL,
    "agentCode" text NOT NULL,
    "agentName" text NOT NULL,
    guide text NOT NULL,
    "guideName" text NOT NULL,
    "partyCode" text NOT NULL,
    nation text DEFAULT 'CN'::text NOT NULL,
    adult integer DEFAULT 0 NOT NULL,
    child integer DEFAULT 0 NOT NULL,
    "tourLeader" integer DEFAULT 0 NOT NULL,
    "carCode" text DEFAULT ''::text NOT NULL,
    shop text DEFAULT ''::text NOT NULL,
    hotel text DEFAULT ''::text NOT NULL,
    "comeFrom" text DEFAULT ''::text NOT NULL,
    "busType" text DEFAULT ''::text NOT NULL,
    "tourIn" text DEFAULT ''::text NOT NULL,
    "tourOut" text DEFAULT ''::text NOT NULL,
    comment text DEFAULT ''::text NOT NULL,
    "imageUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "nameListCode" text DEFAULT ''::text NOT NULL,
    student integer DEFAULT 0 NOT NULL,
    "companyCode" text DEFAULT ''::text NOT NULL,
    "memberCode" text DEFAULT ''::text NOT NULL,
    "supervisorCode" text DEFAULT ''::text NOT NULL,
    province text DEFAULT ''::text NOT NULL,
    "charterCode" text DEFAULT ''::text NOT NULL,
    "extraGuides" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "narratorGroup" text DEFAULT ''::text NOT NULL,
    "narratorPax" integer DEFAULT 0 NOT NULL,
    narrators jsonb DEFAULT '[]'::jsonb NOT NULL
);


ALTER TABLE public."BonusCard" OWNER TO admin;

--
-- Name: Booking; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Booking" (
    id text NOT NULL,
    "importKey" text NOT NULL,
    "docDate" timestamp(3) without time zone NOT NULL,
    "docTime" text DEFAULT ''::text NOT NULL,
    "agentCode" text DEFAULT ''::text NOT NULL,
    "agentName" text DEFAULT ''::text NOT NULL,
    "partyCode" text DEFAULT ''::text NOT NULL,
    nation text DEFAULT ''::text NOT NULL,
    "arriveDate" timestamp(3) without time zone,
    "departDate" timestamp(3) without time zone,
    "guideCode" text DEFAULT ''::text NOT NULL,
    "guideName" text DEFAULT ''::text NOT NULL,
    "telGuide" text DEFAULT ''::text NOT NULL,
    "telDriver" text DEFAULT ''::text NOT NULL,
    pax integer DEFAULT 0 NOT NULL,
    "carCode" text DEFAULT ''::text NOT NULL,
    shop text DEFAULT ''::text NOT NULL,
    "bookRemark" text DEFAULT ''::text NOT NULL,
    "dateBookJw" timestamp(3) without time zone,
    "timeBookJw" text DEFAULT ''::text NOT NULL,
    "ptyStartDate" timestamp(3) without time zone,
    "ptyEndDate" timestamp(3) without time zone,
    "faxNo" text DEFAULT ''::text NOT NULL,
    "agentCodeRef" text DEFAULT ''::text NOT NULL,
    "partyCodeRef" text DEFAULT ''::text NOT NULL,
    status boolean DEFAULT false NOT NULL,
    upload boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "docNo" text DEFAULT ''::text NOT NULL,
    "agentId" text
);


ALTER TABLE public."Booking" OWNER TO admin;

--
-- Name: BookingReference; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."BookingReference" (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "orderDate" timestamp(3) without time zone,
    "faxNo" text DEFAULT ''::text NOT NULL,
    "agentCode" text DEFAULT ''::text NOT NULL,
    code text DEFAULT ''::text NOT NULL,
    place text DEFAULT ''::text NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BookingReference" OWNER TO admin;

--
-- Name: LectureHistory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."LectureHistory" (
    id text NOT NULL,
    "partyCode" text NOT NULL,
    "bonusCardId" text,
    "roomId" text NOT NULL,
    "roomCode" text NOT NULL,
    "roomName" text NOT NULL,
    "speakerId" text NOT NULL,
    "speakerCode" text NOT NULL,
    "speakerName" text NOT NULL,
    "attendeeCount" integer DEFAULT 0 NOT NULL,
    "startedAt" timestamp(3) without time zone NOT NULL,
    "endedAt" timestamp(3) without time zone NOT NULL,
    "durationSeconds" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LectureHistory" OWNER TO admin;

--
-- Name: LectureRoom; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."LectureRoom" (
    id text NOT NULL,
    "roomCode" text NOT NULL,
    "roomName" text NOT NULL,
    capacity integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LectureRoom" OWNER TO admin;

--
-- Name: LectureSession; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."LectureSession" (
    id text NOT NULL,
    "partyCode" text NOT NULL,
    "bonusCardId" text,
    "roomId" text NOT NULL,
    "roomCode" text NOT NULL,
    "roomName" text NOT NULL,
    "speakerId" text NOT NULL,
    "speakerCode" text NOT NULL,
    "speakerName" text NOT NULL,
    "attendeeCount" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'arriving'::text NOT NULL,
    "startedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LectureSession" OWNER TO admin;

--
-- Name: Member; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Member" (
    id text NOT NULL,
    "guideCode" text NOT NULL,
    "titleTh" text DEFAULT ''::text NOT NULL,
    "firstNameTh" text DEFAULT ''::text NOT NULL,
    "lastNameTh" text DEFAULT ''::text NOT NULL,
    "titleEn" text DEFAULT ''::text NOT NULL,
    "firstNameEn" text DEFAULT ''::text NOT NULL,
    "lastNameEn" text DEFAULT ''::text NOT NULL,
    phone text DEFAULT ''::text NOT NULL,
    nickname text DEFAULT ''::text NOT NULL,
    "birthDate" timestamp(3) without time zone,
    "nationalId" text DEFAULT ''::text NOT NULL,
    "cardIssueDate" timestamp(3) without time zone,
    "cardExpireDate" timestamp(3) without time zone,
    "guideType" text DEFAULT ''::text NOT NULL,
    "guideLicenseNo" text DEFAULT ''::text NOT NULL,
    "guideLicenseExpireDate" timestamp(3) without time zone,
    "passportNo" text DEFAULT ''::text NOT NULL,
    address text DEFAULT ''::text NOT NULL,
    province text DEFAULT ''::text NOT NULL,
    note text DEFAULT ''::text NOT NULL,
    recorder text DEFAULT ''::text NOT NULL,
    "fullName" text DEFAULT ''::text NOT NULL,
    "fullNameTh" text DEFAULT ''::text NOT NULL,
    "guideCardNo" text DEFAULT ''::text NOT NULL,
    company text DEFAULT ''::text NOT NULL,
    "guideHo" text DEFAULT ''::text NOT NULL,
    "imageUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Member" OWNER TO admin;

--
-- Name: NameList; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."NameList" (
    id text NOT NULL,
    code text NOT NULL,
    "partyCode" text DEFAULT ''::text NOT NULL,
    "arriveDate" timestamp(3) without time zone,
    "departDate" timestamp(3) without time zone,
    "agentCode" text DEFAULT ''::text NOT NULL,
    "agentName" text DEFAULT ''::text NOT NULL,
    "guideCode" text DEFAULT ''::text NOT NULL,
    "guideName" text DEFAULT ''::text NOT NULL,
    "nationCode" text DEFAULT ''::text NOT NULL,
    "nationName" text DEFAULT ''::text NOT NULL,
    country text DEFAULT ''::text NOT NULL,
    province text DEFAULT ''::text NOT NULL,
    "busCode" text DEFAULT ''::text NOT NULL,
    pax integer DEFAULT 0 NOT NULL,
    "sourceFile" text DEFAULT ''::text NOT NULL,
    note text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NameList" OWNER TO admin;

--
-- Name: NameListItem; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."NameListItem" (
    id text NOT NULL,
    "nameListId" text NOT NULL,
    "itemNo" integer DEFAULT 0 NOT NULL,
    "isLeader" boolean DEFAULT false NOT NULL,
    "agentCode" text DEFAULT ''::text NOT NULL,
    code text DEFAULT ''::text NOT NULL,
    "arriveDate" timestamp(3) without time zone,
    "passportNo" text DEFAULT ''::text NOT NULL,
    "firstName" text DEFAULT ''::text NOT NULL,
    "lastName" text DEFAULT ''::text NOT NULL,
    "birthDate" timestamp(3) without time zone,
    age integer,
    gender text DEFAULT ''::text NOT NULL,
    "nationCode" text DEFAULT ''::text NOT NULL,
    province text DEFAULT ''::text NOT NULL,
    location text DEFAULT ''::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NameListItem" OWNER TO admin;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Role" OWNER TO admin;

--
-- Name: RoleAppPermission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."RoleAppPermission" (
    "roleId" text NOT NULL,
    "appId" text NOT NULL,
    "canAccess" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."RoleAppPermission" OWNER TO admin;

--
-- Name: Speaker; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Speaker" (
    id text NOT NULL,
    "speakerCode" text NOT NULL,
    "speakerName" text NOT NULL,
    status text DEFAULT 'available'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Speaker" OWNER TO admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    "passwordHash" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    username text NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: UserAppPermission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."UserAppPermission" (
    "userId" text NOT NULL,
    "appId" text NOT NULL,
    "canAccess" boolean DEFAULT true NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserAppPermission" OWNER TO admin;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."UserRole" (
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UserRole" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Data for Name: Agent; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Agent" (id, "agentCode", "codeCenter", name, address, nation, phone, fax, "contactPerson", marketing, "agentHO", "typeCenter", "agentType", "typeGroup", "navCode", email, "taxId", branch, "bankName", "bankBranch", "bankAccount", active, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AgentAlias; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."AgentAlias" (id, "agentId", pattern, "matchType", "createdAt") FROM stdin;
\.


--
-- Data for Name: AgentMatching; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."AgentMatching" (id, "agentCodeRef", "agentNameRef", "agentId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: App; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: BonusCard; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Booking; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Booking" (id, "importKey", "docDate", "docTime", "agentCode", "agentName", "partyCode", nation, "arriveDate", "departDate", "guideCode", "guideName", "telGuide", "telDriver", pax, "carCode", shop, "bookRemark", "dateBookJw", "timeBookJw", "ptyStartDate", "ptyEndDate", "faxNo", "agentCodeRef", "partyCodeRef", status, upload, "createdAt", "updatedAt", "docNo", "agentId") FROM stdin;
\.


--
-- Data for Name: BookingReference; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."BookingReference" (id, "bookingId", "orderDate", "faxNo", "agentCode", code, place, "startDate", "endDate", "createdAt") FROM stdin;
\.


--
-- Data for Name: LectureHistory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."LectureHistory" (id, "partyCode", "bonusCardId", "roomId", "roomCode", "roomName", "speakerId", "speakerCode", "speakerName", "attendeeCount", "startedAt", "endedAt", "durationSeconds", "createdAt") FROM stdin;
fb32804f-8f2f-498a-a66d-d4fddc6fbb6f	GONE1150PAR	332535d4-626c-43ff-b49e-39475f81034a	81959546-6697-44cb-8dfe-0500b86d26b8	RM001	RTH	ef4a6743-672e-4eed-921e-7b609dcc0743	L001	Gone	26	2026-05-22 07:33:49.107	2026-05-22 07:33:54.37	5	2026-05-22 07:33:54.372
\.


--
-- Data for Name: LectureRoom; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."LectureRoom" (id, "roomCode", "roomName", capacity, "createdAt", "updatedAt") FROM stdin;
81959546-6697-44cb-8dfe-0500b86d26b8	RM001	RTH	30	2026-05-22 07:31:35.459	2026-05-22 07:31:35.459
\.


--
-- Data for Name: LectureSession; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."LectureSession" (id, "partyCode", "bonusCardId", "roomId", "roomCode", "roomName", "speakerId", "speakerCode", "speakerName", "attendeeCount", status, "startedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Member; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Member" (id, "guideCode", "titleTh", "firstNameTh", "lastNameTh", "titleEn", "firstNameEn", "lastNameEn", phone, nickname, "birthDate", "nationalId", "cardIssueDate", "cardExpireDate", "guideType", "guideLicenseNo", "guideLicenseExpireDate", "passportNo", address, province, note, recorder, "fullName", "fullNameTh", "guideCardNo", company, "guideHo", "imageUrl", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: NameList; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."NameList" (id, code, "partyCode", "arriveDate", "departDate", "agentCode", "agentName", "guideCode", "guideName", "nationCode", "nationName", country, province, "busCode", pax, "sourceFile", note, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: NameListItem; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."NameListItem" (id, "nameListId", "itemNo", "isLeader", "agentCode", code, "arriveDate", "passportNo", "firstName", "lastName", "birthDate", age, gender, "nationCode", province, location, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Role" (id, code, name, "createdAt", "updatedAt") FROM stdin;
b3f1a934-dc4a-4d53-9e30-8bddb75150f2	admin	Administrator	2026-05-22 05:26:59.636	2026-05-22 05:26:59.636
c3702825-305e-433e-8aa4-62ac13f8059c	user	User	2026-05-22 05:26:59.642	2026-05-22 05:26:59.642
bd3e9489-67c1-40bf-a2ca-81b74e763082	information	Information	2026-05-22 05:26:59.646	2026-05-22 05:26:59.646
\.


--
-- Data for Name: RoleAppPermission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Speaker; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Speaker" (id, "speakerCode", "speakerName", status, "createdAt", "updatedAt") FROM stdin;
ef4a6743-672e-4eed-921e-7b609dcc0743	L001	Gone	available	2026-05-22 07:31:43.258	2026-05-22 07:33:54.387
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."User" (id, name, "passwordHash", "isActive", "createdAt", "updatedAt", username) FROM stdin;
71fff913-4c7e-46f8-8b86-712a6f6deeb2	G-HUB Admin	$2b$10$VWzMhGuE5TDiZujHerCl3OWPtNf8OHb9vCrCVo0rI8UOKOs3sl21K	t	2026-05-22 05:26:59.756	2026-05-22 05:28:53.193	admin
\.


--
-- Data for Name: UserAppPermission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."UserRole" ("userId", "roleId", "assignedAt") FROM stdin;
71fff913-4c7e-46f8-8b86-712a6f6deeb2	b3f1a934-dc4a-4d53-9e30-8bddb75150f2	2026-05-22 05:28:53.228
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: AgentAlias AgentAlias_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AgentAlias"
    ADD CONSTRAINT "AgentAlias_pkey" PRIMARY KEY (id);


--
-- Name: AgentMatching AgentMatching_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AgentMatching"
    ADD CONSTRAINT "AgentMatching_pkey" PRIMARY KEY (id);


--
-- Name: Agent Agent_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Agent"
    ADD CONSTRAINT "Agent_pkey" PRIMARY KEY (id);


--
-- Name: App App_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."App"
    ADD CONSTRAINT "App_pkey" PRIMARY KEY (id);


--
-- Name: BonusCard BonusCard_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."BonusCard"
    ADD CONSTRAINT "BonusCard_pkey" PRIMARY KEY (id);


--
-- Name: BookingReference BookingReference_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."BookingReference"
    ADD CONSTRAINT "BookingReference_pkey" PRIMARY KEY (id);


--
-- Name: Booking Booking_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_pkey" PRIMARY KEY (id);


--
-- Name: LectureHistory LectureHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureHistory"
    ADD CONSTRAINT "LectureHistory_pkey" PRIMARY KEY (id);


--
-- Name: LectureRoom LectureRoom_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureRoom"
    ADD CONSTRAINT "LectureRoom_pkey" PRIMARY KEY (id);


--
-- Name: LectureSession LectureSession_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureSession"
    ADD CONSTRAINT "LectureSession_pkey" PRIMARY KEY (id);


--
-- Name: Member Member_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Member"
    ADD CONSTRAINT "Member_pkey" PRIMARY KEY (id);


--
-- Name: NameListItem NameListItem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NameListItem"
    ADD CONSTRAINT "NameListItem_pkey" PRIMARY KEY (id);


--
-- Name: NameList NameList_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NameList"
    ADD CONSTRAINT "NameList_pkey" PRIMARY KEY (id);


--
-- Name: RoleAppPermission RoleAppPermission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."RoleAppPermission"
    ADD CONSTRAINT "RoleAppPermission_pkey" PRIMARY KEY ("roleId", "appId");


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Speaker Speaker_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Speaker"
    ADD CONSTRAINT "Speaker_pkey" PRIMARY KEY (id);


--
-- Name: UserAppPermission UserAppPermission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserAppPermission"
    ADD CONSTRAINT "UserAppPermission_pkey" PRIMARY KEY ("userId", "appId");


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY ("userId", "roleId");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AgentAlias_agentId_pattern_matchType_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "AgentAlias_agentId_pattern_matchType_key" ON public."AgentAlias" USING btree ("agentId", pattern, "matchType");


--
-- Name: AgentAlias_pattern_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AgentAlias_pattern_idx" ON public."AgentAlias" USING btree (pattern);


--
-- Name: AgentMatching_agentCodeRef_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "AgentMatching_agentCodeRef_key" ON public."AgentMatching" USING btree ("agentCodeRef");


--
-- Name: AgentMatching_agentId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AgentMatching_agentId_idx" ON public."AgentMatching" USING btree ("agentId");


--
-- Name: AgentMatching_agentNameRef_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "AgentMatching_agentNameRef_idx" ON public."AgentMatching" USING btree ("agentNameRef");


--
-- Name: Agent_active_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Agent_active_idx" ON public."Agent" USING btree (active);


--
-- Name: Agent_agentCode_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Agent_agentCode_key" ON public."Agent" USING btree ("agentCode");


--
-- Name: Agent_name_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Agent_name_idx" ON public."Agent" USING btree (name);


--
-- Name: Agent_nation_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Agent_nation_idx" ON public."Agent" USING btree (nation);


--
-- Name: Agent_typeGroup_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Agent_typeGroup_idx" ON public."Agent" USING btree ("typeGroup");


--
-- Name: App_code_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "App_code_key" ON public."App" USING btree (code);


--
-- Name: BookingReference_bookingId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "BookingReference_bookingId_idx" ON public."BookingReference" USING btree ("bookingId");


--
-- Name: BookingReference_faxNo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "BookingReference_faxNo_idx" ON public."BookingReference" USING btree ("faxNo");


--
-- Name: Booking_agentCode_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_agentCode_idx" ON public."Booking" USING btree ("agentCode");


--
-- Name: Booking_agentId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_agentId_idx" ON public."Booking" USING btree ("agentId");


--
-- Name: Booking_docDate_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_docDate_idx" ON public."Booking" USING btree ("docDate");


--
-- Name: Booking_importKey_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Booking_importKey_key" ON public."Booking" USING btree ("importKey");


--
-- Name: Booking_nation_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_nation_idx" ON public."Booking" USING btree (nation);


--
-- Name: Booking_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_status_idx" ON public."Booking" USING btree (status);


--
-- Name: Booking_upload_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Booking_upload_idx" ON public."Booking" USING btree (upload);


--
-- Name: LectureRoom_roomCode_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "LectureRoom_roomCode_key" ON public."LectureRoom" USING btree ("roomCode");


--
-- Name: LectureSession_roomId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "LectureSession_roomId_key" ON public."LectureSession" USING btree ("roomId");


--
-- Name: Member_guideCode_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Member_guideCode_key" ON public."Member" USING btree ("guideCode");


--
-- Name: NameListItem_code_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameListItem_code_idx" ON public."NameListItem" USING btree (code);


--
-- Name: NameListItem_nameListId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameListItem_nameListId_idx" ON public."NameListItem" USING btree ("nameListId");


--
-- Name: NameListItem_passportNo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameListItem_passportNo_idx" ON public."NameListItem" USING btree ("passportNo");


--
-- Name: NameList_agentCode_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameList_agentCode_idx" ON public."NameList" USING btree ("agentCode");


--
-- Name: NameList_arriveDate_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameList_arriveDate_idx" ON public."NameList" USING btree ("arriveDate");


--
-- Name: NameList_code_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "NameList_code_key" ON public."NameList" USING btree (code);


--
-- Name: NameList_nationCode_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameList_nationCode_idx" ON public."NameList" USING btree ("nationCode");


--
-- Name: NameList_partyCode_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "NameList_partyCode_idx" ON public."NameList" USING btree ("partyCode");


--
-- Name: Role_code_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Role_code_key" ON public."Role" USING btree (code);


--
-- Name: Speaker_speakerCode_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Speaker_speakerCode_key" ON public."Speaker" USING btree ("speakerCode");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: AgentAlias AgentAlias_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AgentAlias"
    ADD CONSTRAINT "AgentAlias_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."Agent"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AgentMatching AgentMatching_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."AgentMatching"
    ADD CONSTRAINT "AgentMatching_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."Agent"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookingReference BookingReference_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."BookingReference"
    ADD CONSTRAINT "BookingReference_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public."Booking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Booking Booking_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."Agent"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LectureHistory LectureHistory_bonusCardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureHistory"
    ADD CONSTRAINT "LectureHistory_bonusCardId_fkey" FOREIGN KEY ("bonusCardId") REFERENCES public."BonusCard"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LectureSession LectureSession_bonusCardId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureSession"
    ADD CONSTRAINT "LectureSession_bonusCardId_fkey" FOREIGN KEY ("bonusCardId") REFERENCES public."BonusCard"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LectureSession LectureSession_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureSession"
    ADD CONSTRAINT "LectureSession_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public."LectureRoom"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LectureSession LectureSession_speakerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LectureSession"
    ADD CONSTRAINT "LectureSession_speakerId_fkey" FOREIGN KEY ("speakerId") REFERENCES public."Speaker"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NameListItem NameListItem_nameListId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."NameListItem"
    ADD CONSTRAINT "NameListItem_nameListId_fkey" FOREIGN KEY ("nameListId") REFERENCES public."NameList"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoleAppPermission RoleAppPermission_appId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."RoleAppPermission"
    ADD CONSTRAINT "RoleAppPermission_appId_fkey" FOREIGN KEY ("appId") REFERENCES public."App"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoleAppPermission RoleAppPermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."RoleAppPermission"
    ADD CONSTRAINT "RoleAppPermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAppPermission UserAppPermission_appId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserAppPermission"
    ADD CONSTRAINT "UserAppPermission_appId_fkey" FOREIGN KEY ("appId") REFERENCES public."App"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserAppPermission UserAppPermission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserAppPermission"
    ADD CONSTRAINT "UserAppPermission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict mKbdpKiDlrT0ceIMU3eq573UYgRK66phef5wl05n6vVEFdO0qOMMDlPPiJ6UGex

